[user]
	email = orobardet.ext@orange.com
	name = Olivier Robardet
	signingkey = B43F120EBF336B32
[push]
	default = matching
[alias]
	root = rev-parse --show-toplevel
	cdroot = !cd $(pwd)
	st = status
	ci = commit
	co = checkout
	br = branch
	cl = clone
	f = fetch
	graph = log --abbrev-commit --graph -30 --date=short
	lg = log -20 --date=short
	pullrb = pull --rebase
	prb = pull --rebase
	up = "!git fetch ; git fetch -p ; git pull --rebase"
[merge]
	tool = meld
[diff]
	tool = meld
	submodule = log
[core]
	autocrlf = false
	pager = cat
	excludesfile = ~/.gitignore
[commit]
	gpgsign = true
[status]
	submodulesummary = 1
[mergetool "p4mergetool"]
	cmd = /opt/p4merge/bin/p4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false
[mergetool]
	keepBackup = false
[difftool "p4mergetool"]
	cmd = /opt/p4merge/bin/p4merge $LOCAL $REMOTE
[format]
	pretty = tformat:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(10,trunc)%ad %C(auto,green)%<(20,trunc)%aN%<(30,trunc)<%aE> %C(auto,reset)%s%C(auto,red)% gD% D

[protocol]
	version = 2
[pull]
	rebase = true
